body{
    background-image: url('imagens/wallpaper001.jpg');
}

div.quadrado{
    border: 2px solid rgb(238, 107, 0);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: rgba(245, 2, 2, 0.247);
}

div#q1 {
    background-color: aqua;
}
div#q2 {
    background-image: linear-gradient(red, blue);
}
div#q3 {
    background-image: url('imagens/wallpaper0022.jpg');
}