body{
    height: 100vh;
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain ;
}
main{
  margin: auto;
    width: 400px;
padding: 10px;
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 10px;
}