@charset "UTF-8";

/* Todas as demais mídias*/

/* Typical Device Breakpoints
Celular: 360 x 640
Tablet: 768 x 1024
Desktop: 1920 x 1080
grandes telas: acima de 1200 pixels
*/

@media print{ /* IMPRESSORA */
  body{
    background-image: url(../imagens/back-print.jpg); /* DESNECESSÁRIO POIS NA IMPRESSORA NAO FUNCIONA FUNDO */
  }
  main{
    border: 10px double darkblue;
  }
  main h1{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    color: black;
  }
  main::after{
    content: 'testezin de after';
  }

  img#phone{  display: none;}
  img#tablet{ display: none;}
  img#print{ display: block;}
  img#pc{ display: none;}
  img#tv{ display: none;}
}


@media screen and (min-width: 768px) and (max-width: 1024px){ /* TABLET */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{  display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: none;}

} 

@media screen and (min-width: 1024px) and (max-width:1700px){ /* DESKTOP */
body{
    background-image: url(../imagens/back-pc.jpg);
}
img#phone{  display: none;}
img#tablet{ display: none;}
img#print{ display: none;}
img#pc{ display: block;}
img#tv{ display: none;}
}

@media screen and (min-width: 1700px){ /* GRANDES TELAS */
body{
    background-image: url(../imagens/back-tv.jpg);
    background-size: cover;
}
img#phone{  display: none;}
img#tablet{ display: none;}
img#print{ display: none;}
img#pc{ display: none;}
img#tv{ display: block;}
}